<form [class]="classes">
    <app-input *ngFor="let config of formConfig; let i = index" [inputContainerClass]="config.inputContainerClass" (onBluring)="setMarkedIndex(-1)" (onFocusing)="setMarkedIndex(i)"
    [value]="formState[i].value" [icon]="config.icon" [mode]="config.mode" [minWidth]="config.minWidth" [type]="config.type" [data]="formState[i].data">

    </app-input>
    <!-- <app-input [data]="tableService.types[type].tableHeaders" [minWidth]="'170px'"  [mode]="'custom-select'"></app-input> -->
    <app-button [type]="submit" [btnClass]="'table-btn add-filter-btn'" [title]="'ADD FILTER'" [icon]="'add_circle'"></app-button>
</form>