@import '../../../colors.scss';
#container{
    min-height: 100vh;
    display: flex;
    width: 100%;
    aside{
        color: $light-font;
        max-width: 85px;
        background: $side-bar;
        box-shadow: $base-shadow;
        .active{
            background: $main;
        }
        a{
            padding: 14px 0;
            width: 100%;
            text-align: center;
            span{
                font-size: 13px;
                padding: 0 15px;
                margin-bottom: 10px;
            }
            i{

            }
        }
    }
    .container{
        padding: 30px;
        width: 100%;
    }
}
