@import '../../../../colors.scss';

.table-btn{
    display: flex;
    align-items: center;
    span{
        font-size: 1.1em;
    }
    i{
        margin-right: 7.5px;
    }
}
.add-filter-btn{
    color: $light-font;
    margin-left: 5px;
}
.btn{
    cursor: pointer;
}
.label{
    font-size: .9em;
}
.label-white{
    color: $light-font;
}