$bg: #F2F2F2;
$light-font: #fff;
$dark-font: #202020;

$main: #1565C0;
$study: #00965E;
$experiment: #A05EB5;

$side-bar: rgba(15, 15, 15, 0.82);


$selected-row: rgba(170, 170, 170, .21);
$base-shadow: 0 6px 10px rgba(0,0,0, .14);
$table-shadow: 0 6px 24px rgba(0,0,0,.14);
$table-border: #707070;
$table-header: #656565;

$error: #E40048;
$correct: #00965E;