@import './colors.scss';
body, html{
    min-height: 100vh;
    background: $bg;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: $dark-font;
}
button{
    cursor: pointer;
    border: none;
    background: transparent;
    transition: .4s;
    font-family: inherit;
    &:focus{
        outline: none;
    }
}
ul{
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: 1.66em;
    color: $side-bar;
}
h2{
    font-size: 1.66em;
}
h3{
    font-size: 1.33em;  
}
h1,h2,h3,h4,h5,p{
    margin: 0;
}
.flex-row-align{
    display: flex;
    align-items: center;
}
.flex-column-centered{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.flex-row-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}
.project{
    color: $main;
}
.study{
    color: $study;
}
.experiment{
    color: $experiment;
}
