<div [style.minWidth]="minWidth" [class]="'input flex-row-align ' + inputClass">

  <ng-container *ngIf="mode === 'normal'">
    <input (input)="handleTyping($event)" [type]="type" [placeholder]="placeholder" />
    <div class="icon-container flex-row-align">
      <i class="material-icons">{{icon}}</i>
    </div>
  </ng-container>

  <ng-container *ngIf="mode === 'custom-select'">
      <div class="custom-select">
          <input 
          list="select-items"
          autocomplete="off"
          type="text" placeholder="click to select category"/>
          <datalist id="select-items" className="select-input">
              <option value="0">Select car:</option>
              <option value="1">Audi</option>
              <option value="2">BMW</option>
              <option value="3">Citroen</option>
              <option value="4">Ford</option>
              <option value="5">Honda</option>
              <option value="6">Jaguar</option>
              <option value="7">Land Rover</option>
              <option value="8">Mercedes</option>
              <option value="9">Mini</option>
              <option value="10">Nissan</option>
              <option value="11">Toyota</option>
              <option value="12">Volvo</option>
          </datalist>
      </div>
  </ng-container>

</div>
